body{background-color:#3A373A;font-family: verdana;}

p{font-family: verdana; color: white; padding:2px; text-align: left;}

h1{font-family: Times; color:yellow; font-weight: 20px; font-size: 400%; text-align: center;}

h2{font-family: verdana; color:#E8E7B8; font-weight: 20px; font-size: 200%; text-align: left;}

a{font-family: verdana; font-size:100%;}

a:link {color:white; background-color:transparent; text-decoration: none; text-align: center;}

a:visited {color:white; background-color: transparent;text-decoration: bold; text-align: center;}

a:hover{color:yellow; background-color: transparent;text-decoration:bold; text-align: center;}

hr{display: block; margin-top: 0.5em; margin-bottom: 0.5em; margin-left: auto; margin-right: auto; border-style: solid; border-width: 2px; color: #9D363F; }

table{padding: 5px; text-align: center; vertical-align: top;}

img{padding: 8px;}

#Chunk{
	color: blue;
}