body{background-color:#143A55;font-family: verdana;}

p{font-family: verdana; color: white; padding:2px; text-align: left;}

li{font-family: verdana; color: white; padding: 2px;}

h1{font-family: Avant Garde; color:#eca401; font-weight: 20px; font-size: 400%; text-align: center;}

h2{font-family: verdana; color:#E8E7B8; font-weight: 20px; font-size: 200%; text-align: left;}

a{font-family: verdana; font-size:100%;}

a:link {color:white; background-color:transparent; text-decoration: none; text-align: center;}

a:visited {color:white; background-color: transparent;text-decoration: bold; text-align: center;}

a:hover{color:#001535; background-color: transparent;text-decoration:bold; text-align: center;}

hr{display: block; margin-top: 0.5em; margin-bottom: 0.5em; margin-left: auto; margin-right: auto; border-style: solid; border-width: 2px; color: #A9B6C0; }

table{padding: 5px; text-align: center; vertical-align: top;}

img{padding: 8px;}

#Chunk{
	color: blue;
}

input[type="text"] {
	font-family: verdana; color: black; padding: 4px; text-align: left; width: 400px;
}

form{
	font-family: verdana;
	color: white;
	padding: 4px;
	text-align: left;
	margin: 20px;
}
textarea {
  width: 400px;
  padding: 4px;
  height: 200px;
  display: block;
  font-family: verdana;
  color: black;
}


