body{background-color:#3E606F;font-family: verdana;}

p{font-family: Century Gothic; color: #C6D4DD; padding:4px; text-align: left; font-size: 110%; }

li{font-family: verdana; color: white; padding: 2px;}

h1{font-family: Century Gothic; color:#D1DBBD; font-weight: 30px; font-size: 450%; text-align: center;}

a{font-family: Century Gothic; font-size:120%;}

a:link {color:#FCFFF5; background-color:transparent;  text-decoration: none; text-align: center;}

a:visited {color:#FCFFF5; background-color: transparent;text-decoration: bold; text-align: center;}

a:hover{color:#E0332F; background-color: transparent;text-decoration:bold; text-align: center;}

hr{display: block; margin-top: 0.25em; margin-bottom: 0.25em; margin-left: auto; margin-right: auto; border-style: solid; border-width: 2px; color: #D1DBBD; }

table{padding: 5px; text-align: center; vertical-align: top;}


img{padding: 4px;}


input[type="text"] {
	font-family: Century Gothic;
	color: black;
	padding: 4px;
	text-align: left;
	width: 400px;
	font-size: 120%;
	background-color: #D1DBBD;
}

form{
	font-family: Century Gothic;
	font-size: 110%;
	color: #FCFFF5;
	padding: 4px;
	text-align: left;
	margin: 15px;
}
textarea {
  width: 400px;
  padding: 4px;
  height: 200px;
  display: block;
  font-family: Century Gothic;
  color: black;
  font-size: 120%;
  background-color: #D1DBBD;
}


